body{
    font-family: "Source Sans Pro";
}

h1{
    font-weight: 700;
    font-size: 4rem;
}

h2{
    font-weight: 600;
    font-size: 2.6rem;
}

h3{
    font-weight: 600;
    font-size: 1.8rem;
}

p{
    font-size: 1.3rem;
    font-weight: 400;
}

hr{
    border: solid 2px black;
    width: 5%;
    margin: 15px auto;
}

/* navigation bar */
.navbar{
    padding: 1% 2% 1% 4%;
}
.navbar-item{
    padding: 0 25px;
}

/* title */

.title{
    position: relative;
}

.title-social{
    position: absolute;
    top: 40%;
    left: 1px;
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 5px;
    
}

.title-icon{
    width: 2.6rem;
    font-size: 2.3rem;
    display: block;
    text-align: center;
    color: #000000;
}

.intro{
    text-align: center;
    background-color: rgb(104, 165, 165);
    padding: 15%;
}

.intro_info{
    padding: 2% 10%;
}

/* every section heading */
.main-container{
    padding: 6% 12%;
}

.heading-sub{
    display: block;
    width: 60%;
    margin: auto;
    line-height: 2;
    font-size: 1.1rem;
}

/* about */
.about-content{
    text-align: justify;
    word-spacing: -1px;
    padding: 16px 80px;
}

.about-content-title{
    margin-bottom: 1rem;
}

/* projects */
#projects{
    background-color: rgb(110, 128, 128);
}

.card-container{
    padding: 0 10%;
}

.card-text{
    text-align: left;
    padding: 0 10%;
}

.skills{
    display: inline-block;
    font-size: 14px;
    border: 1px solid;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 3px 7px;
    margin-bottom: 5px;
  }

/* footer */
#footer{
    background-color: #040404;  
    padding: 5% 10%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-social{
    color: #fff;
    font-size: 1.7rem;
}